<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Vue Mastery Tutorial</title>
</head>

<body>
    <div id="app">
        <div class="product">

            <div class="product-image">
                <img :src="product_image" :alt="alt_text" />
            </div>

            <div class="product-info">
                <h1>{{ product }}</h1>
                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
                <p v-else>Out of Stock</p>
                <img v-show="onSaleShow" class='on-sale-image' :src="onSaleImage" alt="alt.onSale">

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <div v-for="variant in variants" :key="variant.variantId">
                    <p @mouseover="updateProduct(variant.variantImage)">{{ variant.variantColor }}</p>
                </div>
                

                <button @click="addToCart">Add to Cart</button>
                <div class="cart">
                    <p>Cart({{ cart }})</p>
                </div>

            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="js/main.js" defer></script>
</body>

</html>